h1 {
  color: #262829;
  font-weight: bold;
}
.buttons-right>button {
  float: right;
  margin: 5px;
}

.buttonLogin{
  color:#fff;
  font-size:25px;
  text-decoration:none;
}
 a:hover {
    color: inherit; 
}
.percentage-number {
  color: #202422;
  font-size: 50px;
  font-weight: bold;
}
.percentage-sign {
  color: rgb(51, 73, 202);
  font-size: 40px;
}
.percentage-container {
  text-align: center;
}
.percentage-container:first-child {
  padding-bottom: 3em;
}

.box {
  padding: 20px 9px;
}

.df-c{
  display: flex;
  justify-content: center;
}