.join-btn {
  border: 1px solid rgba(10, 180, 180, 1);
  background: rgba(13, 72, 235, 0.562);
  font-size: 13px;
  color: white;
  margin-top: 20px;
  padding: 10px 50px;
  border-radius: 2px;
  margin: auto;
  display: block;
  margin-top: 30px;
  cursor: pointer;
  transition: 0.4s;

  &:hover {
    background: rgba(20, 20, 20, 0.8);
    padding: 10px 80px;
  }
}

.join-btn-no-transform {
  border: 1px solid rgba(0, 0, 0, 0.4);
  background: rgba(20, 20, 20, 0.6);
  font-size: 16px;
  color: white;
  padding: 10px 30px;
  border-radius: 2px;
  margin: auto;
  cursor: pointer;

  &:hover {
    background: rgba(20, 20, 20, 0.8);
  }
}

// Seguindo os mesmos padrões do botão porém alinhado a esquerda.
.join-btn-leo {
  border: 1px solid rgba(10, 180, 180, 1);
  background: rgba(199, 193, 193, 0.788);
  font-size: 13px;
  color: #131212;
  margin-top: 20px;
  padding: 10px 50px;
  border-radius: 2px;
  margin: 0;
  display: block;
  margin-top: 30px;
  cursor: pointer;
  transition: 0.4s;
  
  
}
