.signupForm {
  padding: 30px 0;
  background: rgb(28, 38, 39);
  transition: 0.2s;
  margin: 20px;
  padding: 20px;
  border-radius: 2px;
  h2 {
    font-weight: 300;
  }
}

.labelFields {
  color: $white;
  display: block;
}
.inputFields {
  margin: 15px ;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  border: 1px solid rgba(10, 180, 180, 1);
  border-top: none;
  border-left: none;
  border-right: none;
  background: rgba(20, 20, 20, 0.2);
  color: white;
  outline: none;
}


