<html>

<head>
	<title>Bem-Vindo! Resource Manager </title>

<body>
	<div id="mailsub" class="notification" align="center">
		<table width="100%" border="0" cellspacing="0" cellpadding="0" style="min-width: 320px;">
			<tr>
				<td align="center" bgcolor="#eff3f8">

					<table border="0" cellspacing="0" cellpadding="0" class="table_width_100" width="100%"
						style="max-width: 680px; min-width: 300px;">
						<tr>
							<td>
								<!-- padding -->
								<div style="height: 40px; line-height: 50px; font-size: 10px;"> </div>
							</td>
						</tr>
						<!--header -->
						<tr>
							<td align="center" bgcolor="#ffffff">
								<table width="90%" border="0" cellspacing="0" cellpadding="0">
								</table>

								<!-- padding -->
								<div style="height: 20px; background-color: #29aac7; font-size: 10px;"> </div>
							</td>
						</tr>
						<!--header END-->
						<!--content 1 -->



						<tr>
							<td align="center" bgcolor="#fbfcfd">

								<table width="90%" border="0" cellspacing="0" cellpadding="0">

									<tr>
										<td align="center">
											<br><br>
											<!-- padding -->
											<div style="height: 60px; line-height: 60px; font-size: 10px;"> 
												<img src=".\src\components\html\azul.jpeg" alt="Smiley face" height="80" width="80">

											</div>
											<br><br>

											<div style="line-height: 44px;">
												<font face="Arial, Helvetica, sans-serif" size="5" color="#57697e" style="font-size: 34px;">
													<span style="font-family: Arial, Helvetica, sans-serif; font-size: 34px; color: #57697e;">
														Bem-vindo à Resource Manager
													</span></font>
											</div>
											<!-- padding <div style="height: 40px; line-height: 40px; font-size: 10px;"> </div> -->
										</td>
									</tr>
									<tr>
										<td align="center">
											<div style="line-height: 24px;">
												<font face="Arial, Helvetica, sans-serif" size="4" color="#57697e" style="font-size: 15px;">
													<span style="font-family: Arial, Helvetica, sans-serif; font-size: 15px; color: #57697e;">
														Temos as soluções perfeitas para o seu negócio. <br>
														Agora, precisamos que confirme seu e-mail de cadastro clicando no botão abaixo!
													</span></font>
											</div>
											<!-- padding -->
											<div style="height: 40px; line-height: 40px; font-size: 10px;"> </div>
										</td>
									</tr>
									<tr>
										<td align="center">
											<div style="line-height: 24px;">
												<button onclick="confirmed()" class="button button1">Confirmar</button>
												<script>
													function confirmed() {
														alert("Seu e-mail foi confirmado com sucesso!");
													}
												</script>
											</div>
										</td>
									</tr>
								</table>
							</td>
						</tr>
						<!--content 1 END-->

						<!--content 2 -->
						<tr>
							<td align="center" bgcolor="#ffffff"
								style="border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #FFFFFF;">
								<table width="94%" border="0" cellspacing="0" cellpadding="0">
									<tr>
										<td align="center">

											<div class="mob_100" style="float: left; display: inline-block; width: 33%;">
												<table class="mob_100" width="100%" border="0" cellspacing="0" cellpadding="0" align="left"
													style="border-collapse: collapse;">
													<tr>
														<td align="center" style="line-height: 14px; padding: 0 27px;">
															<!-- padding -->
															<div style="height: 40px; line-height: 40px; font-size: 10px;"> </div>
															<div style="line-height: 14px;">
																<font face="Arial, Helvetica, sans-serif" size="3" color="#4db3a4"
																	style="font-size: 14px;">
																	<strong
																		style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #4db3a4;">
																		<div style="color: #29aac7; text-decoration: none;">A PLATAFORMA</div>
																	</strong></font>
															</div>
															<!-- padding -->
															<div style="height: 18px; line-height: 18px; font-size: 10px;"> </div>
															<div style="line-height: 21px;">
																<font face="Arial, Helvetica, sans-serif" size="3" color="#98a7b9"
																	style="font-size: 14px;">
																	<span
																		style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #98a7b9;">
																		Uma plataforma de consultoria para o mundo acadêmico, interligando o mercado
																		corporativo com a universidade.
																	</span></font>
															</div>
														</td>
													</tr>
												</table>
											</div>
											<div class="mob_100" style="float: left; display: inline-block; width: 33%;">
												<table class="mob_100" width="100%" border="0" cellspacing="0" cellpadding="0" align="left"
													style="border-collapse: collapse;">
													<tr>
														<td align="center" style="line-height: 14px; padding: 0 27px;">
															<!-- padding -->
															<div style="height: 40px; line-height: 40px; font-size: 10px;"> </div>
															<div style="line-height: 14px;">
																<font face="Arial, Helvetica, sans-serif" size="3" color="#4db3a4"
																	style="font-size: 14px;">
																	<strong
																		style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #4db3a4;">
																		<div style="color: #29aac7; text-decoration: none;">BENEFÍCIOS</div>
																	</strong></font>
															</div>
															<!-- padding -->
															<div style="height: 18px; line-height: 18px; font-size: 10px;"> </div>
															<div style="line-height: 21px;">
																<font face="Arial, Helvetica, sans-serif" size="3" color="#98a7b9"
																	style="font-size: 14px;">
																	<span
																		style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #98a7b9;">
																		Oportunidades de negócios para os alunos, professores que queiram ajudar e ganhar
																		alguma renda extra, e o baixo custo de consultoria.
																	</span></font>
															</div>
														</td>
													</tr>
												</table>
											</div>
											<div class="mob_100" style="float: left; display: inline-block; width: 33%;">
												<table class="mob_100" width="100%" border="0" cellspacing="0" cellpadding="0" align="left"
													style="border-collapse: collapse;">
													<tr>
														<td align="center" style="line-height: 14px; padding: 0 27px;">
															<!-- padding -->
															<div style="height: 40px; line-height: 40px; font-size: 10px;"> </div>
															<div style="line-height: 14px;">
																<font face="Arial, Helvetica, sans-serif" size="3" color="#4db3a4"
																	style="font-size: 14px;">
																	<strong
																		style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #4db3a4;">
																		<div style="color: #29aac7; text-decoration: none;">SUPORTE</div>
																	</strong></font>
															</div>
															<!-- padding -->
															<div style="height: 18px; line-height: 18px; font-size: 10px;"> </div>
															<div style="line-height: 21px;">
																<font face="Arial, Helvetica, sans-serif" size="3" color="#98a7b9"
																	style="font-size: 14px;">
																	<span
																		style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #98a7b9;">
																		Temos uma equipe de prontidão para lhe auxíliar e tirar suas dúvidas. Você não está
																		sozinho nessa, estamos juntos com você!
																	</span></font>
															</div>
														</td>
													</tr>
												</table>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<!-- padding -->
											<div style="height: 50px; line-height: 50px; font-size: 10px;"> </div>
										</td>
									</tr>
								</table>
							</td>
						</tr>
						<!--content 2 END-->
						<!--footer -->
						<tr>
							<td class="iage_footer" align="center" bgcolor="#ffffff">
								<table width="100%" border="0" cellspacing="0" cellpadding="0">
									<tr>
										<td align="center">
											<font face="Arial, Helvetica, sans-serif" size="3" color="#96a5b5" style="font-size: 13px;">
												<br>
												<span style="font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #96a5b5;">
													2019 © Resource Manager. Todos os Direitos Reservados.
												</span></font>
										</td>
									</tr>
								</table>

								<!-- padding -->
								<div style="height: 20px; line-height: 20px; font-size: 10px;"> </div>
							</td>
						</tr>

						<!--footer END-->
						<tr>
							<td>
								<!-- padding -->
								<div style="height: 20px; background-color: #29aac7; font-size: 10px;"> </div>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>

	</div>

	<br>
	<br>

	<style>
		body {
			padding: 0;
			margin: 0;
		}

		.button1 {
			background-color: #343a40;
			/* AZul */
			border: none;
			color: white;
			padding: 10px 20px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
			margin: 4px 2px;
			cursor: pointer;
			-webkit-transition-duration: 0.4s;
			/* Safari */
			transition-duration: 0.4s;
		}

		.button1:hover {
			box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
		}