div.container.col-md-8.feeback{ 
  margin-top: 60px; border-radius: 30px; 
}

div.container.col-md-8.feeback div.feed{
 padding: 22px; border-radius: 25px;
 margin: 6px; border: solid #26a2de 4px;
}

div.container.col-md-8.feeback div.feed form{
  margin:5px; margin-top: 10px; margin-left: -1px;
  -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
  -moz-box-shadow:    9px 7px 5px rgba(50, 50, 50, 0.77);
  box-shadow:         9px 7px 5px rgba(50, 50, 50, 0.77); 
  border-start-end-radius:8px;
}

div.container.col-md-8.feeback div.feed form div.col-md-12.comemet{
  background-color:#26a2de;padding-left:12px;
  margin-top: 20px; margin-left: 0px;
  border-end-end-radius: 11px; border-start-end-radius: 11px; 
}
div.container.col-md-8.feeback div.feed form div.col-md-12.comemet input.inputFields.col-md-9 {
  margin-top: 15px; margin-bottom: 15px; font-size: 16px;
  padding: 10px; border-radius: 20px; width: 100%;
  border: 1px solid rgba(245, 244, 238, 0.856);
  border-top: none; border-left: none; border-right: none;
  background: rgba(33, 243, 206, 0.09); color: black;
  background-color: #faffbd; outline: none; margin-right: 15px;
}
div.container.col-md-8.feeback div.col-md-12.comemet button.env.col-md-1{
  border-radius: 10px; background-color: white; color: black;
  height: 30px; min-width: 20%;
  margin-top: 24px; margin-bottom: 9px;
}
div.container.col-md-8.feeback div.text{
  background-color: #26a2de; padding: 20px; margin-left: -1px;
  box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77); margin-top: 20px;
  border-end-end-radius: 10px; border-end-start-radius: 10px;
  font-size: 18px;
}

div.text div.analise{
 background-color:white;
 align-items: center;
 display: flex;
 margin-top: 20px;
 flex-direction: row;
 text-align: initial;
 justify-content: center;
 border-end-end-radius: 9px;
 border-end-start-radius: 9px;
 box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
 margin-left: -2px;
}

img.fig{
 margin: 10px; margin-right: 0px;
 width: 45px; height: 40px;
}

h1.feedTitulo{
  background-color:#26a2de; padding: 20px; margin-right: 5px;
  box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
  border-end-end-radius: 11px; border-start-end-radius: 11px;
 }

h1.feedTituloform{
 background-color:#26a2de; padding: 20px;
 border-end-end-radius: 11px; border-start-end-radius: 11px;
}


/*************** FEEDS *************/
div.row.feeds div.col-md-12 div.col-md-11.tabfeed{
 border: solid #26a2de 4px;
 background-color:rgba(196, 200, 215, 0.88);
 padding: 4px; margin: 30px; display: flex;
 align-items: flex-start; flex-direction: row; border-radius: 10px;
}

div.row.feeds div.col-md-12 div.tabfeed label{
  color: black; font-size: 16px; padding: 10;
}
div.row.feeds div.col-md-12 div.tabfeed p{
  color: black; font-size: 14px;
}


