body{
  background-color: #0ce1f6; 
  background-image:("https://www.pngkey.com/png/detail/94-945454_this-free-icons-png-design-of-pool-water.png");
  background-position: center center; 
  background-repeat: no-repeat;
}
div.escolhido.row{
position: absolute;
}