h1 {
  color: #f8f9fa;
  font-weight: bold;
}

h3 {
  color: #f8f9fa;
  font-weight: bold;
}

h4 {
  color: #000000;
  font-weight: bold;
}

.labelField {
  color: #000000;
  font-weight: bold;
}

.signupForcolor {
  color: #ffffff;
  font-weight: bold;
  max-width: 1000px;
}